body { 
	color: White; 
}
header { 
	margin: 3px auto; 
	box-shadow: 1px 1px 3px Black;
	text-shadow: 1px 1px 1px Black; 
  position: relative; 
}
header::before {    
  content: "";
	background-image: url("../img/Rosa_Red_Chateau01.jpg"); 
	background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7; 
}
header div.header {
	position: relative;
	color: White; 
}
nav { 
	position: sticky;
  top: 0;
	z-index: 100; 
	box-shadow: 1px 1px 3px Black; 
}
nav a.nav-link {
	color: White; 
	font-weight: bold;
}
nav a.nav-link:hover {
	background-color: LightGray; 
	color: DarkRed; 
}
h4 {
	text-align: left;
	color: DarkRed; 
	font-family: Georgia;
	font-style: italic; 
}
section { 
	padding-bottom: 10px;
	margin-top: 50px; 
}
section.text-bg-light h2 { 
	border-bottom: 1px solid Gray;
}
section.text-bg-secondary h2 {
  border-bottom: 1px solid LightGray;
}
div.section-item {
	border-radius: 30px; 
	border-style: ridge;
	height: 100%;
	background: url("../img/rose.png") no-repeat right bottom; 
	background-size: 60px;
}
div.thumbnail {
	text-align: center; 
}
img {
	max-width: 100%; 
	object-fit: cover;
}
a img {
	cursor: zoom-in;
}
.up {
	font-size: 150%;
}
.up a {
	color: DarkRed;
}
.up a:hover {
	color: Red;
}


@media screen and (min-width: 768px){
	body {
		text-align: justify;}
	section img.img-left {
		float: left;
		margin-right: 15px;
		margin-top: 10px; }
	section img.img-right {
		float: right;
		margin-left: 15px;
		margin-top: 10px; }
}
